doctype html
html
  head
    title Inicio
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css.css")
  body
    nav.navbar
      div.nav-left
        a(href="/") 
          svg(width="25" height="25" viewBox="0 0 24 24")
            path(d="M3 12L12 3l9 9M4 10v10h6v-6h4v6h6V10", stroke="white", fill="none", stroke-width="2")
      div.nav-center
        input(type="text" placeholder="Buscar..." id="busqueda")
        span.icono-busqueda
         
      div.nav-right
        a(href="/notificaciones") 
          svg(width="24" height="24" viewBox="0 0 24 24")
            path(d="M18 16v-5a6 6 0 10-12 0v5l-2 2h16l-2-2", stroke="white", fill="none", stroke-width="2")
            circle(cx="12" cy="20" r="1", fill="white")
      
        a(href="/login")
          svg(width="24" height="24" viewBox="0 0 24 24")
            circle(cx="12" cy="8" r="4", stroke="white", fill="none", stroke-width="2")
            path(d="M4 20c0-4 16-4 16 0", stroke="white", fill="none", stroke-width="2")

    div.feed
      div.publicaciones 
        br
        h2 Bienvenido a Fotaza 
          span#saludo
          | , la red social de fotografía más grande del mundo.
        
        br
        div.publicar  
          textarea( placeholder="Que estas pensando?" id="subir")
          

          input(
              type="file"
              id="archivoImagen"
              name="imagen"
              accept="image/*"
              required
            )
            
          button#btnPublicar Publicar
        
        br

        
        div#feed
    
    
    script.
      const token = localStorage.getItem('token');

      if (!token) {
        alert('Debes iniciar sesión');
        window.location.href = 'login.html';
      }
      const usuario = JSON.parse(localStorage.getItem("usuario"));
      const saludo = document.getElementById("saludo");

      if (usuario) {
        saludo.textContent = usuario.username.charAt(0).toUpperCase() + usuario.username.slice(1);
      }
        
      const btn = document.getElementById("btnPublicar");
      const textarea = document.getElementById("subir");
      const feed = document.getElementById("feed");
      const mensaje = document.getElementById("mensajePublicacion");
      

      btn.addEventListener("click", async () => {

        const archivo = document.getElementById("archivoImagen").files[0];
        if (!archivo) {

          mensaje.style.display = "block";
          mensaje.className = "mensaje-error";
          mensaje.textContent = "Tenés que subir una imagen";

          setTimeout(() => {
            mensaje.style.display = "none";
            mensaje.textContent = "";
          }, 3000);
          return;
        }
        const formData = new FormData();

        formData.append("imagen", archivo);

        formData.append("descripcion", textarea.value);

        try {

          const res = await fetch("/api/fotos", {

            method: "POST",

            headers: {
              Authorization: "Bearer " + token
            },

            body: formData
          });

          const data = await res.json();

          console.log(data);
          
          mensaje.style.display = "block";
          mensaje.className = "mensaje-ok";
          mensaje.textContent = "Publicación subida correctamente";
          textarea.value = "";
          document.getElementById("archivoImagen").value = "";

          setTimeout(() => {
            mensaje.style.display = "none";
            mensaje.textContent = "";
          }, 3000);
          cargarFotos();
        

          } catch (error) {

            console.error(error);
          }
         
      });


      async function cargarFotos() {

        try {

          const res = await fetch("/api/fotos", {
            headers: {
              Authorization: "Bearer " + token
            }
          });

          const fotos = await res.json();

          feed.innerHTML = "";

          fotos.forEach(foto => {

            feed.innerHTML += `

              <div class="card">

                <div class="card-header">

                  <div class="avatar"></div>

                  <span class="username">
                    ${foto.username}
                  </span>

                </div>

                <div class="card-body">

                  
                  <p>
                    ${foto.descripcion}
                  </p>
                  <img
                    src="/uploads/${foto.url_imagen}"
                    class="foto-feed"
                  >

                </div>

              </div>
            `;
          });

        } catch (error) {

          console.error(error);
        }
      }

      cargarFotos();