doctype html
html
  head
    title Inicio
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css.css")
  body
    nav.navbar
      div.nav-left
        a(href="/") 
          svg(width="25" height="25" viewBox="0 0 24 24")
            path(d="M3 12L12 3l9 9M4 10v10h6v-6h4v6h6V10", stroke="white", fill="none", stroke-width="2")
      div.nav-center
        input(type="text" placeholder="Buscar..." id="busqueda")
        
        div#resultadosBusqueda
      div.nav-right
        a(href="/notificaciones") 
          svg(width="24" height="24" viewBox="0 0 24 24")
            path(d="M18 16v-5a6 6 0 10-12 0v5l-2 2h16l-2-2", stroke="white", fill="none", stroke-width="2")
            circle(cx="12" cy="20" r="1", fill="white")
      
        a(href="/login")
          svg(width="24" height="24" viewBox="0 0 24 24")
            circle(cx="12" cy="8" r="4", stroke="white", fill="none", stroke-width="2")
            path(d="M4 20c0-4 16-4 16 0", stroke="white", fill="none", stroke-width="2")

    div.feed
      div.publicaciones 
        br
        h2 Bienvenido a Fotaza 
          span#saludo
          | , la red social de fotografía más grande del mundo.
        
        br
        div.publicar  
          textarea( placeholder="Que estas pensando?" id="subir")
          

          input(
              type="file"
              id="archivoImagen"
              name="imagen"
              accept="image/*"
              required
            )
            
          button#btnPublicar Publicar
          div#mensajePublicacion
        br

        div#feed
       
      div.amigos

          h2 Amigos

          div#listaAmigos
                  
      
      
    
    
    script.
      const token = localStorage.getItem('token');

      if (!token) {
        alert('Debes iniciar sesión');
        window.location.href = 'login.html';
      }
      const usuario = JSON.parse(localStorage.getItem("usuario"));
      const saludo = document.getElementById("saludo");

      if (usuario) {
        saludo.textContent = usuario.username.charAt(0).toUpperCase() + usuario.username.slice(1);
      }
        
      const btn = document.getElementById("btnPublicar");
      const textarea = document.getElementById("subir");
      const feed = document.getElementById("feed");
      const mensaje = document.getElementById("mensajePublicacion");
      const busqueda = document.getElementById("busqueda");

      const resultadosBusqueda = document.getElementById("resultadosBusqueda");
      //buscar usuarios
      busqueda.addEventListener("input", async () => {

        const texto = busqueda.value;

        if (texto.length < 2) {

          resultadosBusqueda.innerHTML = "";
          return;
        }

        try {

          const res = await fetch(
            `/api/usuarios/buscar?q=${texto}`
          );

          const usuarios = await res.json();

          resultadosBusqueda.innerHTML = "";

          usuarios.forEach(usuario => {

            resultadosBusqueda.innerHTML += `
              <div class="usuario-resultado">

                <span>
                  ${usuario.username}
                </span>

                <button class="btn-seguir"
                id="seguir-${usuario.id_usuario}"
                 onclick="seguirUsuario(${usuario.id_usuario})">
                  Seguir
                </button>

              </div>
            `;
          });

        } catch (error) {

          console.error(error);
        }
      });

      //publicar
      btn.addEventListener("click", async () => {

        const archivo = document.getElementById("archivoImagen").files[0];
        if (!archivo) {

          mensaje.style.display = "block";
          mensaje.className = "mensaje-error";
          mensaje.textContent = "Tenés que subir una imagen";

          setTimeout(() => {
            mensaje.style.display = "none";
            mensaje.textContent = "";
          }, 3000);
          return;
        }
        const formData = new FormData();

        formData.append("imagen", archivo);

        formData.append("descripcion", textarea.value);

        try {

          const res = await fetch("/api/fotos", {

            method: "POST",

            headers: {
              Authorization: "Bearer " + token
            },

            body: formData
          });

          const data = await res.json();

          console.log(data);
          
          mensaje.style.display = "block";
          mensaje.className = "mensaje-ok";
          mensaje.textContent = "Publicación subida correctamente";
          textarea.value = "";
          document.getElementById("archivoImagen").value = "";

          setTimeout(() => {
            mensaje.style.display = "none";
            mensaje.textContent = "";
          }, 3000);
          cargarFotos();
        

          } catch (error) {

            console.error(error);
          }
         
      });


      async function cargarFotos() {

        try {

          const res = await fetch("/api/fotos", {
            headers: {
              Authorization: "Bearer " + token
            }
          });

          const fotos = await res.json();

          feed.innerHTML = "";

          fotos.forEach(foto => {

            feed.innerHTML += `

              <div class="card">

                <div class="card-header">

                  <div class="avatar"></div>

                  <span class="username">
                    ${foto.username}
                  </span>

                </div>

                <div class="card-body">

                  
                  <p>
                    ${foto.descripcion}
                  </p>
                  <img
                    src="/uploads/${foto.url_imagen}"
                    class="foto-feed"
                  >

                </div>
                <div class="comentarios">

                <input
                  type="text"
                  placeholder="Escribí un comentario..."
                  id="comentario-${foto.id_foto}"
                >

                <button
                  onclick="comentar(${foto.id_foto})"
                >
                  Comentar
                </button>

                <div id="lista-comentarios-${foto.id_foto}">
                </div>

              </div>

              </div>
            `;
          });
       fotos.forEach(foto => {

         cargarComentarios(foto.id_foto);

      });
        } catch (error) {

          console.error(error);
        }
      }

      async function seguirUsuario(id) {

        try {

          const res = await fetch( "/api/seguidores", {

              method: "POST",

              headers: {

                "Content-Type":
                  "application/json",

                Authorization:
                  "Bearer " + token
              },

              body: JSON.stringify({
                usuario_seguido: id
              })
            }
          );

          const data = await res.json();

          console.log(data);
          
          const boton = document.getElementById( `seguir-${id}`);

            boton.textContent = "Siguiendo";
            boton.disabled = true;
            boton.style.opacity = "0.7";

          cargarSeguidos();

        } catch (error) {

          console.error(error);
        }
      }

      async function cargarSeguidos() {

        const lista =
          document.getElementById(
            "listaAmigos"
          );

        try {

          const res = await fetch(
            "/api/seguidores",
            {

              headers: {
                Authorization:
                  "Bearer " + token
              }
            }
          );

          const usuarios =
            await res.json();

          lista.innerHTML = "";

          usuarios.forEach(usuario => {

            lista.innerHTML += `

              <div class="carda">

                <div class="card-header">

                  <div class="avatar"></div>

                  <span class="username">
                    ${usuario.username}
                  </span>

                </div>

              </div>
            `;
          });

        } catch (error) {

          console.error(error);
        }
      }

      async function comentar(id_foto) {

          const input =
            document.getElementById(
              `comentario-${id_foto}`
            );

          const contenido =
            input.value;

          if (!contenido.trim()) return;

          try {

            const res = await fetch(
              "/api/comentarios",
              {

                method: "POST",

                headers: {

                  "Content-Type":
                    "application/json",

                  Authorization:
                    "Bearer " + token
                },

                body: JSON.stringify({

                  id_foto,
                  contenido
                })
              }
            );

            const data =
              await res.json();

            console.log(data);
            cargarComentarios(id_foto);
            input.value = "";

          } catch (error) {

            console.error(error);
          }
        }

      async function cargarComentarios(
        id_foto
      ) {

        const div =
          document.getElementById(
            `lista-comentarios-${id_foto}`
          );

        try {

          const res = await fetch(
            `/api/comentarios/${id_foto}`
          );

          const comentarios =
            await res.json();

          div.innerHTML = "";

          comentarios.forEach(c => {

            div.innerHTML += `

              <div class="comentario">

                <strong>
                  ${c.username}
                </strong>

                ${c.contenido}

              </div>
            `;
          });

        } catch (error) {

          console.error(error);
        }
      }

      cargarSeguidos();
      cargarFotos();
      